.header {
  width: 100%;
  height: 20px;
}
.menu li {
  list-style: none;
  float: left;
  padding-left: 60px;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: black;
}
.main {
  padding-left: 100px;
  background-color: white;
  opacity: 0.6;
  width: 330px;
  height: 100%;
  margin-left: 20%;
}
body {
  animation: fadeIn 5.0s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  font-family: 'Architects Daughter', cursive;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
