.header {
  width: 100%;
  height: 20px;
}
body {
  background-color: #FFFFFF;
  font-family: 'Architects Daughter', cursive;
}
.menu li {
  list-style: none;
  float: left;
  padding-left: 60px;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: black;
}

.main {
  margin-top: 80px;
  margin-left: 28%;
  margin-right: 50%;

}
.effect {
  margin-top: 60px;
  padding: 11px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 25px -4px rgba(0, 0 ,0 , 0.8);
}

html {
  animation: fadeIn 5.0s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  display: inline-block;
  padding-top: 85px;
  position: relative;
  margin-left: 350px;
}
.scroll::before {
  animation: scroll 3.0s infinite;
  border: solid 10px #000;
  border-width: 0 0 1px 1px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
 
