.header {
  height: 50px;
}
body {
  background-color: #FFFFFF;
  font-family: 'Sawarabi Mincho', serif;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.menu li {
  list-style: none;
  float: left;
  font-size: 25px;
}
a {
  text-decoration: none;
  padding-left: 40px;
  color: black;
}

.main {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.effect {
  margin-top: 60px;
  padding: 11px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 25px -4px rgba(0, 0 ,0 , 0.8);
}

html {
  animation: fadeIn 5.0s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.txt {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
}
.scroll::before {
  animation: scroll 3.0s infinite;
  border: solid 10px #000;
  border-width: 0 0 1px 1px;
  content: "";
  display: inline-block;
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
 